* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  background-color: cadetblue;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
li {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

li:hover {
  cursor: pointer;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: beige;
  text-align: center;
}
img {
  width: 30%;
  height: 30%;
}

